---
  name: ci

  on:
    workflow_dispatch:
    pull_request:
      branches: [ main ]

  jobs:
    validation:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          node-version: [20.x]
      steps:
        - uses: actions/checkout@v6
        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v6
          with:
            node-version: ${{ matrix.node-version }}
        - name: npm install
          run: npm install
        - name: npm test
          run: npm test
